body{
  background-color: #3d3d3d;
  font-family: "Nunito";
  color: white;
}

#mainApp{
  margin: 0 auto;
  text-align: center;
}

.customButtons{
  padding: 10px;
  font-family: "Nunito";
  background-color: transparent;
  border: solid white 1px;
  border-radius: 5px;
  color: white;

  margin: 20px;
}

.customButtons:hover{
  background-color: gray;
}
